# Postgres
POSTGRES_DBNAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
# Internet Archive API Key (only required if data is downloaded from the Internet Archive)
# see https://archive.org/developers/tutorial-get-ia-credentials.html
INTERNET_ARCHIVE_ACCESS_KEY=
INTERNET_ARCHIVE_SECRET_KET=
